@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    font-family: 'Space Mono', monospace;
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
